/* Colors
blue background: #1c2a2b 
dark text: #030c1b
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="col-"] {
    padding: 0;
}

/* Temporary Styles
header {border: 1px solid grey;}
section {border: 1px solid grey;}
div {border: 1px solid grey;} */

/* Universal Styles */
body {
    font-family: 'Raleway', sans-serif;
}

h2, h3, h4, h5, h6 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
    line-height: 1.4rem;
}

p:last-child {
    margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
    display: block;
}

footer h1 {
    font-size: 5rem;
    line-height: 0.9em;
}

/* Reusable Utility Classes */
.padded-0 {padding: 0;}
.padded-5 {padding: 5%;}
.padded-10 {padding: 10%;}
.padded-05 {padding: 0.5rem;}
.padded-1 {padding: 1rem;}

.no-margin-b {margin-bottom: 0;}

.tall-100 {min-height: 100vh;}
.tall-75 {min-height: 75vh;}
.tall-50 {min-height: 50vh;}

.uppercase {text-transform: uppercase;}
.center {text-align: center;}

.thin {font-weight: 200;}
.regular {font-weight: 400;}
.bold {font-weight: 800;}
.x-bold {font-weight: 900;}

/* Images */
.bg-image {
    background-color: #7e8a88;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-bed {
    background-image: url('/images/the-bunker-1.jpg');
    background-position: 50% 50%;
    min-height: 30vh;
}

.bg-hall {
    background-image: url('/images/the-bunker-3.jpg');
    background-position: 50% 50%;
    min-height: 40vh;
}

.bg-lobby {
    background-image: url('/images/the-bunker-4.jpg');
    background-position: 50% 50%;
    min-height: 30vh;
}

.bg-bar {
    background-image: url('/images/the-bunker-2.jpg');
    background-position: 50% 50%;
    min-height: 30vh;
}

.bg-sheets {
    background-image: url('/images/the-bunker-7.jpg');
    background-position: 50% 50%;
    min-height: 30vh;
}

.bg-exterior {
    background-image: url('/images/the-bunker-5.jpg');
    background-position: 50% 18%;
}

.bg-map {
    background-image: url('/images/map-sydney.png');
}

.header {
    background-image: url('/images/the-bunker-5.jpg');
    background-position: 50% 50%;
    min-height: 100vh;
    color: white;
    font-size: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.bg-dark {
    background-color: #1c2a2b;
    color: white;
}

.copyright {
    background-color: #1c2a2b;
    color: #adaeaf;
}

.fas {
    color: white;
    size: 2.5rem;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
}