/* Universal Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Temporary Styles */

* {
    padding: 0.5rem;
    border: 1px solid lightgrey;
}

html, body {
    border: none;
}

h1, h2, h3, h4, h5, h6, p {
    border: 1px solid rgb(170, 130, 170);
}

/* End Temporary Styles */

.bg-image {
    background-color: #1c2a2b;
}

body {
    font-family: 'Raleway', sans-serif;
}


/* Typography */

/* font-family: 'Raleway', sans-serif;
font-size: 300 400 500 900 (normal and italic) */

header h1{
    font-size: 20vh;
    text-transform: uppercase;
}

h2 {
    font-size: 2rem;
    text-transform: uppercase;
}

h3 {
    font-size: 2rem;
}

[class*="col-"] {
    padding: 0;
}

a {
    color: inherit;
}

/* Utility Classes */

.tall-25 { min-height: 25vh; }
.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }


.padded    { padding: 5%;    }
.padded-lg { padding: 10%;    }
.padded-1  { padding: 1rem;  }
.padded-2  { padding: 2rem;  }

.margin-b-0 { margin-bottom: 0; }

/* Images */
.bg-exterior {
    background-image: url(/images/the-bunker-exterior.jpg);
    background-position: 50% 47%;
    background-size: cover;
}

.bg-bed {
    background-image: url(/images/the-bunker-bed.jpg);
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-hall {
    background-image: url(/images/the-bunker-hall.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;  
}

.bg-lobby {
    background-image: url(/images/the-bunker-lobby.jpg);
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;  
}

.bg-lounge {
    background-image: url(/images/the-bunker-lounge.jpg);
    background-position: 50% 60%;
    background-size: cover;
    background-repeat: no-repeat;  
}

.bg-sheets {
    background-image: url(/images/the-bunker-sheets.jpg);
    background-position: 50% 38%;
    background-size: cover;
    background-repeat: no-repeat; 
}

.bg-palm {
    background-image: url(/images/the-bunker-exterior.jpg);
    background-position: 50% 28%;
    background-size: cover;
    background-repeat: no-repeat; 
}

.dark {
    background-color: #1c2a2b;
}

/* Text */

.light-text {
    color: white;
}

.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right; }

.not-bold {
    font-weight: 500;
}

